*{
    font-family: 'Poppins', sans-serif;
    padding: 0%;
    margin: 0%;
}
/*header nav section*/
header{
    width: 70%;
    margin: 0 auto;
}
.header-container{
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20%;
}

footer>p{
    margin: 0 auto;
    align-items: center;
    border: solid seagreen;
}




/*main body section*/
main{
    width: 70%;
    margin: 0 auto;
    margin-top: 5%;
}
.main-container{
   display: grid;
   grid-template-columns: repeat(3 ,1fr); 
}
.face>img{
    height: 200px;
    border: solid yellow ;
    width: 100%;
    
}
.itame-5 {
    margin-top: 20%;
    border: solid sienna;
}
.itame-2{
    margin-top: 20%;
    border: solid sienna;
}
.pic{
    display: flex;
    flex-wrap: ;
    gap: 0%;
    border: solid blue;
}
.position { 
   transform: rotate(90deg) ;
    
    border: solid gold;
    height: 10%;
    margin-top: 10%;
    margin-left: 0px;
    
}
.itame{
    border: dashed yellowgreen;
}
.face{
    border: solid red;
    ma
}